@import 'ant-design-vue/dist/antd.less';

// custom
@sidebar-width: 210px;
@sidebar-collapsed-width: 64px;
@sidebar-logo-height: 86px;
@reuse-tab-height: 40px;
@gray-text-color: #666666;

// ------- Colors --------
@blue-base: #3963bc;
@green-base: #00c292;
@red-base: #f4516c;
@gold-base: #ffcb71;

@header-background: #EEF4F9;

// ------ Base Scaffolding Variables ------
@body-background: #F6F7FA;

// layout
@layout-sider-background: #192a5e;
@layout-header-background: @header-background;
@layout-header-padding: 0;
@layout-header-height: 86px;
.@{layout-prefix-cls} {
  height: 100%;
  &-content {
    overflow: auto;
  }
  &-sider-children {
    overflow: auto;
  }
  &-header {
    line-height: normal;
  }
}

// ----- text -----

// ----- menu -----
@menu-inline-toplevel-item-height: 50px;
@menu-item-height: 50px;
@menu-bg: @layout-sider-background;
@menu-collapsed-width: 64px;
@menu-inline-submenu-bg: @menu-bg;
@menu-item-color: #c4c9d2;
@menu-highlight-color: @primary-color;
@menu-item-active-bg: #0a1949;
@menu-inline-submenu-bg: #122150;
@menu-item-vertical-margin: 0;
@menu-item-boundary-margin: 0;
@menu-popup-bg: @menu-bg;
// @menu-icon-size: 16px;
// @menu-icon-size-lg: 18px;

.@{menu-prefix-cls} {
  border: none;
  .@{menu-prefix-cls}-submenu.@{menu-prefix-cls}-submenu-selected {
    color: @menu-item-color !important;
  }
  &-submenu-open {
    background-color: @menu-inline-submenu-bg;
  }
  &-item {
    &:hover {
      background-color: @menu-inline-submenu-bg;
    }
  }
  &-inline {
    .@{menu-prefix-cls}-item,
    .@{menu-prefix-cls}-submenu-title {
      width: 100%;
    }
  }
}

// ----- breadcrumb -------
@breadcrumb-last-item-color: @primary-color;

.ant-spin-nested-loading {
  .ant-spin-blur {
    opacity: 1 !important;
    &::after {
      background-color: transparent !important;
    }
  }
}
.@{spin-prefix-cls} {
  &-container {
    &::after {
      background-color: transparent !important;
    }
  }
}