
#app {
  height: 100%;
  overflow: hidden;
}
.confirm-warn-content {
  display: flex;
  align-items: center;
  line-height: 24px;
  padding: 10px 15px;
}
.confirm-warn-icon {
  color: @gold-base !important;
  font-size: 24px;
  margin-right: 10px;
}
.table-striped {
  background-color: #f8f9fa;
}
.bordered-ant-table {
  .ant-table{
    border: 1px solid #f0f0f0;
  }
}