@import '@style/antd.lin.less';
@import '@style/mixins.less';

.logo-wrapper {
  width: 100%;
  overflow: hidden;
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  .flex-centering();
}
.logo {
  .flex-centering();
  width: @sidebar-width;
  height: @sidebar-logo-height;
  overflow: hidden;
  font-size: 30px;
  color: #fff;
  background-color: #122150;
  transition: all 0.2s;

  img {
    width: 120px;
  }
}

.mobile-logo {
  .flex-centering();
  width: @sidebar-collapsed-width;
  height: @sidebar-logo-height;
  background-color: #122150;
  transition: all 0.2s;
  overflow-y: auto;

  img {
    width: 40px;
    height: 40px;
  }
}

.app-sidebar {
  &__main {
    margin-bottom: 50px;
    overflow-y: auto;
    &__menu {
      border-right: none;
      padding-top: 10px !important;
    }
  }
}

.menu-search {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  &__placeholder {
    position: relative;
    width: 80%;
    height: 32px;
    border-bottom: 1px rgb(185, 190, 195) solid;
    cursor: pointer;
    .search-icon {
      position: absolute;
      left: 1px;
      top: 10px;
      color: rgb(185, 190, 195);
    }
  }
  &__select {
    width: 80%;
  }
}